<div class="flex-row grid">
  <div class="flex-xs">
    <h1 class="m-n font-thin h3 text-black">Dashboard</h1>
    <small class="text-muted">Welcome to angulr application</small>
  </div>
  <div class="flex-xs-2 last-xs text-right hidden-xs">
    <div class="inline m-r text-left">
      <div class="m-b-xs">1290 <span class="text-muted">items</span></div>
      <div ng-init="data1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]"
        ui-jq="sparkline"
        ui-options="{{data1}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
        class="sparkline inline">loading...
      </div>
    </div>
    <!-- <div class="inline text-left">
      <div class="m-b-xs">$30,000 <span class="text-muted">revenue</span></div>
      <div ng-init="data2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]"
        ui-jq="sparkline"
        ui-options="{{data2}}, {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}"
        class="sparkline inline">loading...
      </div>
    </div> -->
  </div>
</div>
