.y-stream

  .y-stream-header
    background inherit
    height 40px
    border-bottom 1px solid rgba(0,0,0,.05)

    input
      border none

  .y-stream-body
    height inherit
    overflow-y hidden

  textarea
    resize none
    border none
    outline none
    box-shadow none
    // border-bottom-width 2px
    // border-bottom-color #eeeeee
    // border-bottom-style solid
