// bg-white box-shadow-1 panel

.y-portlet
  overflow-y hidden
  box-shadow-2-4()
  background-color white

  .panel-heading
    .action
      position absolute
      top 10%
      left 10%

  .panel-body
    height 60%

  .panel-footer
    position relative

    .action
      position absolute
      right 8%
      bottom 10%

  .tools
    text-align right
    // min-width 50%

    &.left
      float left
    &.right
      float right
      text-align right

