body,
html
  background $lightgrey !important
  background-color $lightgrey !important
  height 100%

// body
  // padding-top 64px

.dropdown-menu.dropdown-right
  left initial !important
  right 0 !important