$toolbar-height           = 64px
$toolbar-short            = 50px
$toolbar-height-medium    = 64px
$toolbar-tall-height      = 200px

$ox-aside-width           = 220px
$ox-aside-width-folded    = 64px
$ox-aside-height          = 100%

$color-fallback      = palette('Grey', '50')

$color-primary       = palette('Indigo')
$color-primary-dark  = palette('Indigo', '100')
$color-primary-light = palette('Indigo', '700')

$color-accent-light  = palette('Pink')
$color-accent-dark   = palette('Pink')

$color-dark         = palette('Black')
$color-dark-text    = palette('Black', 'Text')
$color-dark-text-seconday    = palette('Black', 'Secondary Text')
$color-dark-icons            = palette('Black', 'Icons')
$color-dark-disabled         = palette('Black', 'Disabled')
$color-dark-hint             = palette('Black', 'Hint')
$color-dark-divider          = palette('Black', 'Dividers')

$color-light         = palette('White')
$color-light-text    = palette('White', 'Text')
$color-light-text-seconday    = palette('White', 'Secondary Text')
$color-light-icons            = palette('White', 'Icons')
$color-light-disabled         = palette('White', 'Disabled')
$color-light-hint             = palette('White', 'Hint')
$color-light-divider          = palette('White', 'Dividers')