app-header-defaults()
  height $application-header-height

app-build-header()
  width $application-header-width
  app-header-defaults()
  top 0
  left 0

app-flex-header()
  flex 1
  width 100%
  app-header-defaults()