<div class="container top">
  <div class="row">
    <section class="col-md-12 panel">
      <div class="row">
        <h1 class="panel-heading color-blue-400" text-white>
          Events
          <a
             class="btn btn-clear pull-right"
             ui-sref="events-create"
             y-icon='plus'></a>
        </h1>
        <ul class="list-group">
          <li
              ng-repeat="event in vm.events"
              ui-sref="events-detail({eventId: event._id})"
              point
              class="list-group-item">
              <p>
                {{event.title}}
              </p>

          </li>
        </ul>
        </div>
    </section>
  </div>
</div>