<div class="container top">
  <div class="row">
    <section class="col-md-12">
      <div class="panel">

        <h1 class="panel-heading color-blue-400 text-white">
          {{vm.pipe.title}}
        </h1>
        <article class="panel-body">
          <p text-grey-500>{{vm.pipe.content}}</p>
          <small>
            <em class="text-muted">Posted on {{vm.pipe.created | date:'mediumDate'}} by {{vm.pipe.user.displayName}}</em>
          </small>
          <hr>
          <a  data-ui-sref="pipes-edit({pipeId:vm.pipe._id})"
              btn-white
              y-icon="pencil"
              class="btn pull-right"
              ></a>
        </article>
      </div>

    </section>
  </div>
</div>
