.ox-card
  // position relative
  margin-bottom 20px

  &.filled
    shadow-z-2();



  .ox-card-header
    position relative
    float left
    width 100%
    height 64px
    padding-left 80px
    // margin-bottom 64px


    .ox-card-heading
      float left
      font-size 2em
      line-height 64px

    .ox-panel-header-actions
      float right

    &.large
      position relative
      float left
      height 140px
      padding-left 56px

      .ox-card-heading
        font-size 3em
        line-height 140px

  .ox-card-toolbar
    width 100%
    position relative
    // clear both
    padding 0 16px
    float left

    .ox-tool
      padding 0

    .ox-card-toolbar-right
      float right
      clear both
      .ox-tool
        padding-left 10px

  .ox-card-content
    width 100%


  .ox-list,
  ul.ox-list
    position relative
    // top 64px
    margin 0

    .ox-item
      // border-bottom 1px solid #eee
      // padding-left 32px

      .ox-item-action
        float left
        width 40px
        font-size 2em
        padding-top 10px

      .ox-item-text
        float left
        padding-top 10px
        font-size 18px
        line-height 2em